export JENKINS_HOSTNAME=lvu.ouranos.ca
export JENKINS_MASTER_PORT=10081
export JENKINS_ADMIN_PASSWD=admin
export JENKINS_HTTP_PROTO=http
export JENKINS_NUM_EXECUTORS_LOCAL=4
export JENKINS_ESGF_AUTH_USERNAME=https://esgf-node.llnl.gov/esgf-idp/openid/FirstLast
export JENKINS_ESGF_AUTH_PASSWORD=MY_ESGF_PASSWORD
export JENKINS_ESGF_AUTH_TOKEN=MY_ESGF_TOKEN
export SSH_PRIVATE_KEY="`cat ../my-cert/id_rsa_jenkins`"
export JENKINS_SLAVE_SSH_PUBKEY="`cat ../my-cert/id_rsa_jenkins.pub`"

# JCASC_DIR allows to have an entirely different Jenkins configuration than the
# defaults in "./jcasc".
export JCASC_DIR="./jcasc"

# JCASC_EXTRA_DIRS allows for smaller config tweak, treating JCASC_DIR as
# common basic configurations.  Useful to add more configs.  Use JCASC_DIR above
# in case a complete config override is needed.
# JCASC_EXTRA_DIRS supports space separed list: "/path/dir1 ./path/dir2 ./dir3",
# latest dir has highest precedence.
export JCASC_EXTRA_DIRS="./jcasc_extra_example"
