export JENKINS_HOSTNAME=lvu.ouranos.ca
export JENKINS_MASTER_PORT=10081
export JENKINS_ADMIN_PASSWD=admin
export JENKINS_HTTP_PROTO=http
export JENKINS_NUM_EXECUTORS_LOCAL=4
export JENKINS_ESGF_AUTH_USERNAME=https://esgf-node.llnl.gov/esgf-idp/openid/FirstLast
export JENKINS_ESGF_AUTH_PASSWORD=PASSWORD
export JENKINS_ESGF_AUTH_TOKEN=TOKEN
export SSH_PRIVATE_KEY="`cat ../my-cert/id_rsa_jenkins`"
export JENKINS_SLAVE_SSH_PUBKEY="`cat ../my-cert/id_rsa_jenkins.pub`"
export JCASC_DIR="./jcasc"
